* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "Poppins";
}

.container {
  width: 100%;
  min-width: 362px;
  height: auto;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  margin-top: 4em;

  max-width: 100%; /* Opcjonalne skalowanie obrazka */
  max-height: 100%; /* Opcjonalne skalowanie obrazka */
}

.img2 {
  margin-top: 4em;
  width: 100%;
  max-width: 100%; /* Opcjonalne skalowanie obrazka */
  max-height: 100%; /* Opcjonalne skalowanie obrazka */
}

.midcontent {
  padding: 2em 2em;
}

.midcontent h1 {
  font-weight: 800;
  text-align: center;
  font-size: 2.85rem;
  line-height: 1.2;

  color: #2c2d40;
}
.midcontent h2 {
  font-weight: 500;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2;
  opacity: 0.8;
  color: gray;
  margin-bottom: 20px;
}

.midcontent h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #4b97ae;
}

.midcontent h4 {
  margin-top: 0px;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 800;
  color: #2c2d40;
  line-height: 2.5rem;
}

.midcontent h5 {
  margin-top: 0px;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 400;
  color: black;
  opacity: 0.7;
}

.btn1 {
  color: white;
  margin: 1em 4em;
  text-align: center;
  padding: 1em 1em;
  border-radius: 30px;
  border: none;
  background-color: #4c97a7;
}

.btn2 {
  color: white;
  margin: 0em 6em;
  text-align: center;
  padding: 1em 1em;
  border-radius: 30px;
  border: none;
  background-color: #885eb5;
}

.version {
  opacity: 0.7;
}

.half1 {
  position: relative;
  top: 3rem;
  color: white;
  margin-top: 70px;
  width: 50%;
  border-right: 1px solid gray;
}

.number {
  position: relative;

  z-index: 2;
  top: 3rem;
  text-align: center;
  margin-top: 20px;
}

.number .nmb {
  color: gray;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: white;
}

.featured {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 1em;
  padding-top: 4em;
  padding-bottom: 3em;
  gap: 1em;
  margin-left: -3em;
  margin-right: -1.5em;
}

.featured li {
  width: auto;
}

.featured .img3 {
  width: 100%;
  border-radius: 20px;
}

.background {
  width: 100%;
  height: 400px;
  position: relative; /* Aby pseudoelement działał poprawnie */
  background-image: url("/starter-code/assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Domyślny kolor tekstu */
}
.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 172, 212, 0.85); /* Półprzezroczysty niebieski */
  z-index: 1; /* Nakładka nad tłem */
}

.footer p {
  position: relative;
  z-index: 2;

  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}
.footer h5 {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: 400;
}

.btn3 {
  position: relative;
  z-index: 2;
  background-color: #855fb2;
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
  padding: 1em 0em;
  border-radius: 20px;
  max-width: 400px;
}
